<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Книга рецептов</title>
        {% load static %}
    <link rel="stylesheet" href="{% static 'modelsAndForms/assets/style/style.css' %}">
</head>

<body>
    <h1>Книга рецептов</h1>
    <div class="reg-or-log">
        <a href="/reg">Регистрация</a>
        /
        <a href="#">Вход</a>
    </div>
    <div class="container">
        <div class="sidebar">
            <h2>Категории</h2>
            <ul>
                {% for category in categories %}
                    <li><a href="#">{{ category.category_name }}</a></li>
                    {% endfor %}
                <!-- <li><a href="#">Закуски</a></li>
                <li><a href="#">Основные блюда</a></li>
                <li><a href="#">Супы и бульоны</a></li>
                <li><a href="#">Десерты</a></li>
                <li><a href="#">Напитки</a></li> -->
            </ul>

            <h2>Популярные рецепты</h2>
            <ul>
                    {% for recipe in recipes %}
                    <li><a href="/recipe/{{ recipe.pk }}">{{ recipe.name }}</a></li>
                    {% endfor %}
            </ul>
        </div>
        <div class="content">
            <div class="search-bar">
                <input type="text" placeholder="Поиск рецепта">
                <button type="submit">Поиск</button>
            </div>
            {% block content %}
            
            {% endblock content %}
            <div class="tips">
                <h2>Советы по приготовлению</h2>
                <ul>
                    <li>Перед началом приготовления внимательно прочитайте рецепт.</li>
                    <li>Подготовьте все ингредиенты заранее.</li>
                    <li>Используйте высококачественные ингредиенты для достижения наилучших результатов.</li>
                    <li>Не бойтесь экспериментировать с различными вкусами и специями.</li>
                    <li>Наслаждайтесь процессом приготовления и не забудьте поделиться своими творениями с близкими!
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <footer>
        <p>Обратная связь: <a href="mailto:example@email.com">example@email.com</a></p>
        <p>Счастливого приготовления!</p>
    </footer>
</body>

</html>